<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="../../static/css/events.css">

</head>
<body>
        <div class="wrapper_div fadeInDown">
            <div id="formContent">
                    <h1>Disco</h1>
                    <p> Very cool disco<br>
                        Date: 10-03-2020<br>
                       Organizer: Oleg<br>
                    </p>
                <div class="buttons">
                    <a href="add_participant.html">Add a Participant</a>
                    <a href="delete_participant.html"> Delete a Participant </a>
                </div>
            </div>
        </div>
</body>
</html>