<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/design.css">
</head>
<body>
    <ul class="snip1217">
        <li class="current"><a href="first_page.html"> Main </a></li>
            <li><a href="add_event.html">Add a new event</a></li>
            <li><a  href="../registration/registration_form.html">Sign Up</a></li>
            <li><a href="#events-div"> Events</a> </li>
            <li><a href="show_participants.html"> Participants</a></li>
    </ul>
    <div class="parallax">
        <div class="calendar">
                <div class="month">
                    <ul>
                        <li class="prev">&#10094;</li>
                        <li class="next">&#10095;</li>
                        <li> March<br><span></span></li>
                    </ul>
                </div>

                <ul class="weekdays">
                  <li>Mo</li>
                  <li>Tu</li>
                  <li>We</li>
                  <li>Th</li>
                  <li>Fr</li>
                  <li>Sa</li>
                  <li>Su</li>
                </ul>
                <ul class="days">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li><span class="active"> 20 </span></li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                </ul>
        </div>
    </div>
    <div class="parallax">

        <div class="list-type" id="events-div">
            <h1 >
                Events for
                    you!
            </h1>
            <ol>
                    <li >
                        <a href="event.html"> Disco </a>
                    </li>
                    <li>

                        <a href="event.html"> Art  </a>
                    </li>
                    <li>
                        <a href="event.html"> Photo </a>
                    </li>
                    <li>
                        <a href="event.html"> Photo-exhibition </a>
                    </li>
                    <li>
                        <a href="event.html"> Disco-party </a>
                    </li>
                    <li>
                        <a href="event.html"> Wedding_party </a>
                    </li>
                    <li>
                        <a href="event.html"> Birthday_party </a>
                    </li>
                    <li>
                        <a href="event.html"> Concert of group </a>
                    </li>
                    <li>
                        <a href="event.html"> Photo-concert</a>
                    </li>
            </ol>
        </div>
    </div>

</body>
</html>