<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Participants</title>
    <link rel="stylesheet" href="../../static/css/show_participants.css">
</head>

<body>
    <div class="list-type">
        <h1>
            Regular:
        </h1>
        <ol>
                    <li class="alphabet">
                                <p class="name">Nastiositi <br>
                                    Anastasiia <br>
                                    n.forest@gmail.com <br>
                                    10-05-2001<br>
                                </p>

                    </li>
                    <li>
                        <p class="name">Oleg1
                            Oleg <br>
                            forest@gmail.com <br>
                            14-03-2011<br>
                        </p>
                    </li>
                </ol>
        </div>
        <div class="list-type2">
        <h1> Admins: </h1>
                <ol>
                        <li class="alphabet">
                                <p class="name">nastiositi
                                    Anastasia <br>
                                    anastasiia@gmail.com <br>
                                    20-01-2020<br>
                                </p>
                        </li>
                </ol>
        </div>
</body>
</html>
