@import "design_variables";

*{box-sizing: border-box;}

text {color: $text_color}

body, html{
    width: 100%;
    font-family: $font;
    height: 100vh;
    margin: 0;

    background-color: $main_color;
}

.wrapper_div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;

    #formContent {
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        min-height: 400px;
        position: relative;
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        text-align: center;
    }

}
h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 8px 10px 8px;

}
.buttons{
    position: absolute;
    bottom: 0;
    margin: 50px;
    height: 50px;
    color: $text_color;
    a{
        text-decoration: none;
        padding: 5px;
        background-color: rgba(15, 16, 32, 0.7);
    }
    a:link {
        text-decoration: none;
        color: $main_color;
        font-size: 18px;
    }

    a:visited {
        text-decoration: none;
        color: $bgcolor;
    }

    a:hover {
        color:rgb(226, 95, 86);
    }

    a:active {
        text-decoration: none;
        color: $text_color;
    }
}


@media screen and (max-width: 414px) {
    body, html{
        width: 414px;
        margin: 0;
        padding: 0;
    }
    .wrapper_div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 414px;
        min-height: 100%;
        padding: 10px;

        #formContent {
            border-radius: 10px 10px 10px 10px;
            padding: 15px;
            width: 350px;
            max-width: 400px;
            min-height: 320px;
            position: relative;
            text-align: center;
        }

    }
    .buttons {
        position: absolute;
        bottom: 0;
        margin: 8px;
        height: 35px;
    }

}